body{
    background-color: blue;
    font: normal 18pt impact;

}

header{
    color: aliceblue;
    text-align: center;


}

section{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.952);

}
footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;

}
img{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    
}
div{
    text-align: center;
    padding: 8px;
}
